/* ========================= COMMON===================================== */
:root {
  --primary-color-beige: #ede6db;
  --secondary-color-blue: #ceeefd;
  --main-text-color: RGBA(33, 37, 41, 1);
}



/* change bootstrap color */
.text-danger {
  color: #c60000 !important;
}

.test-primary {
 background-color: var(--primary-color-beige);
 color: var(--main-text-color);
}

.test-secondary {
  background-color: var(--secondary-color-blue);
  color: var(--main-text-color);
}


/* ============================ NAVBAR =============================== */
.nav-link, .dropdown-item {
  color: rgb(222, 222, 222);
}

/* ============ Nested dropdown menu ============ */
/* == Desktop view == */
@media all and (min-width: 992px) {
	.dropdown-menu li {
		position: relative;
	}
 
	.nav-item .submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}

	.nav-item .submenu-left {
		right: 100%;
		left: auto;
	}
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* == small devices view == */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
}	
/* ============ nested dropdown end ============ */

#arngren-brand {
  transform: translateY(-4px);
}

.navbar-brand {
	height: 40px; 
}

#checkout-cart {
    cursor: pointer;
	padding: 0;
	font-size: 26px;
}

/* ================================== FOOTER ======================================== */

.socials {
    font-size: 28px;
}


/* ================================== INDEX ======================================== */
main.banner {
  background-attachment: fixed;
  background-position: center;
  background-image: url(../media/grassy-bg.jpg);
  color: var(--primary-color-beige);
}


.product-exposition {
  width: 80%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}

.quad-link1, .quad-link2, .quad-link3, .quad-link4 {
padding: 0;
height: 50%;
border: solid RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
}

.quad-link1, .quad-pic1 {
border-radius: 21px 0 0 0;
}

.quad-link2, .quad-pic2 {
border-radius: 0 21px 0 0;
}
.quad-link3, .quad-link4, .quad-pic3, .quad-pic4{
border-radius: 0;
}

.quad-pic1, .quad-pic2, .quad-pic3, .quad-pic4 {
object-fit: contain;
padding: 0;
height: 100%;
width: 100%;
}


/* == STOLEN BOOTSTRAP == */
.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.product-device {
  position: absolute;
  right: 5%;
  bottom: 6%;
  width: 400px;
  height: 400px;  
  background-image: url(../media/banner-bike.webp);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: contain;
  transform: rotate(40deg);
}


.product-device-2 {
  left: 0;
  bottom: -15%;
  right: auto;
  background-image: url(../media/banner-jedi.png);
  background-position: center;
  background-size: contain;
  transform: rotate(-5deg);
 
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

  
/* ========================= PRODUCT PAGE ===================== */
.badge-success {
	/* Bootstrap's success green */
	background-color: #28a745 !important;
}

.badge-warning {
	background-color: #FFC107 !important;
	color: black;
}

.price-range-container {
  display: flex;
  justify-content: space-between;
}

#upper-value, #lower-value {
  width: 40%;
}

.read-more-btn {
 float: right;
 margin-left: 10px;
}

.order-box{
  position: sticky;
  left: 5px;
  top: 60px;
  width: 200px;
}

.noUi-horizontal .noUi-handle {
  width: 26px;
  height: 22px;
  right: -17px;
  top: -3px;
}
.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.upsell-img {
  object-fit: contain;
  padding: 0;
  height: 60%;
  width: 60%;
}

.product-picture {
  width: 250px;
  height: 200px;
  background-color: white;
  object-fit: contain;
}


/* ================================ CHECKOUT PAGE =========================== */

.vipps-btn {
  background-color: #ff5b24;
}